/* Add Fonts */
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
@import url('https://cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

/* Modify Body */
body {
    background: #767676;
}

a {
    color: #E3D7BF;
}

a:visited {
    color: #a23115;
}

#main {
    background: #767676;
    color: #F8F5E9;
}

/* Modify Side Menu */
#menu {
    background: #323432;
}

#menu .pure-menu-heading {
    color: #E3D7BF;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    color: #E3D7BF;
    background: #3b3b3b;
}

#menu .brand {
    font-family: 'Marcellus SC', serif;
    font-weight: 900
}

.header, h1, h2, h3, h4, h5, h6 {
  font-family: 'Marcellus SC', serif;
}

html {
  font-family: 'Libre Franklin', sans-serif;
}

img {
    margin: auto;
    display: block;
}

pre, code {
  font-family: Hack, monospace;
  color: #E3D7BF;
}
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #999;
}